footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #003300;
    margin-top: 15px;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}
