/* turn on black mode */
body {
    background-color: #121212;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* make grid container */
.container {
    display: grid;
    grid-template-areas:
    "hd"
    "nav"
    "main"
    "sub"
    "ft";
}

@media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "hd hd hd hd hd hd"
        "nav nav nav nav nav nav"
        "main main main main sub sub"
        "ft ft ft ft ft ft";
    }

}

/* make header has logo and navi */
header {
    grid-area: hd;
    margin: 30px;
    text-align: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
}

/* make navigation on header */
.nav {
    grid-area: nav;
}

.nav-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #003300;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-style a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-style a:hover {
    background-color: green;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* for card in main*/
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

.back-img-one {
    background-image: url("../image/hanabi_family.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.back-img-two {
    background-image: url("../image/hanabi_kaichu.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.short-txt {
    margin-left: 30px;
}

/* make my sub and intro */
aside {
    grid-area: sub;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}

.intro-me {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}

footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #003300;
    margin-top: 15px;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}
