@import url(dark-theme.css);
@import url(footer.css);
@import url(aside.css);


main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* for card in main*/
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

.back-img-one {
    background-image: url("../image/hanabi_family.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.back-img-two {
    background-image: url("../image/hanabi_kaichu.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.short-txt {
    margin: 30px;
    text-align: center;
}

article button {
    font-size: 1.5em;
    background-color: crimson;
    transition-duration: 0.4s;
}

article button:hover {
    background-color: white;
}
